body {
    background-image: radial-gradient(farthest-side at 50% 50%, red, yellow, black);
}

.card-body{
    background-color: wheat;
}

.onFocus{
    font: italic normal bold 20px/40px Helvetica, sans-serif ;
}

.iterator-block{
    display: none;
}